main aside {
    position: fixed;
    top: 60px;
    left:0;
    color: black;
    height: calc(100vh - 200px);
    width: 15rem;
    padding: 15px;
  }
  
  main main-content {
    padding-top: 0;
    display: block;
    position: relative;
    margin-left: 15rem !important;
  }
  
  .filter-sec{
    padding: 1rem;
    background-color: white;
    box-sizing: border-box;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  
  aside section:last-child {
    border-bottom: none;
  }
  
  aside section title {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  aside section li {
    margin-bottom: 0.75rem;
  }
  
  aside section label {
    cursor: pointer;
    margin-left: 0.25rem;
  }
  
  main-content {
    padding: 1rem;
    position: relative;
  }
  
  
  .container-search-popup{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap: 1rem;
    
  }
  .product-search-input{
    padding: 8px 15px;
    border-radius: 5px;
    grid-column-start: span 4;
    border:none !important; ;
  }

  
  .product-search-input:active {
    border: none !important;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175) !important;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  }
  main-content .filters {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
  }
  
  main-content .filter {
    flex: 1;
    text-align: center;
    padding: 0.5rem 1rem;
    background-color: var(--theme-main-color);
    cursor: pointer;
    border-radius: 5px;
  }
  input:active{
    border: none !important;
  }
  main-content .active {
    border: 1px solid black;
  }
  
  main-content section {
    margin-top: 1.2rem;
  }
  
  main-content section title {
    display: block;
    font-size: 1.5rem;
  }
  
  main-content .items {
    display: flex;
    width: auto;
    overflow-x: scroll;
    padding: 1rem 0;
    gap: 1rem;
  }
  
  main-content .items .item {
    border: 1px solid black;
    width: 30%;
  }
  
  main-content .items .item img {
    max-width: 100%;

  }
  
  main-content .items .item .row {
    display: flex;
    justify-content: space-between;
  }
  
  main-content .items .item .info {
    padding: 1rem;
  }
  
  main-content .items .item button {
    width: 100%;
    border-radius: none;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  
  main-content .items .item .colors {
    display: flex;
    margin: 1rem 0;
  }
  
  main-content  .circle {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 0 5px;
  }
  img{
    z-index: 1 !important;
  }

.heading{
  font-size: 40px;
  font-weight: 800;
  color: #896cc9;
}
