.pro-card{
    background-color: white;
    overflow: hidden;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    cursor: pointer;
}